<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MockupPractice"
        tools:targetApi="31">
        <activity
            android:name=".screeen.RecyclerViewShirt.PagesShirt.Shirt06"
            android:exported="false" />
        <activity
            android:name=".screeen.RecyclerViewShirt.PagesShirt.Shirt05"
            android:exported="false" />
        <activity
            android:name=".screeen.RecyclerViewShirt.PagesShirt.Shirt04"
            android:exported="false" />
        <activity
            android:name=".screeen.RecyclerViewShirt.PagesShirt.Shirt03"
            android:exported="false" />
        <activity
            android:name=".screeen.RecyclerViewShirt.PagesShirt.Shirt02"
            android:exported="false" />
        <activity
            android:name=".screeen.RecyclerViewShirt.PagesShirt.Shirt01"
            android:exported="false" />
        <activity
            android:name=".screeen.Direcciones.ShowDireccionActivity"
            android:exported="false" />
        <activity
            android:name=".screeen.Direcciones.DireccionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screeen.Direcciones.AddDireccionActivity"
            android:exported="false" />
        <activity
            android:name=".screeen.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".screeen.shopScreen.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".screeen.ShirtActivity"
            android:exported="false" />
        <activity
            android:name=".screeen.ShopPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".screeen.MonitorActivity"
            android:exported="false" />
        <activity
            android:name=".screeen.BagsActivity"
            android:exported="false" />
        <activity
            android:name=".screeen.CategoriasActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <!--
 ACTIVIDAD PRINCIPAL
        Alway "exported = true"
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>